*{ padding: 5px; margin: 10px; cursor: auto;}
.header{
    
    background-color:transparent;
    color: wheat;
    /*border: 1px red solid;*/
    font-size: 30px;
}
.main{
    padding: 2em;
    background-color:transparent;
    text-align: center;
    color: wheat;
    border: 1px red solid;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
}

.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: wheat;
    /*border: 1px red solid;*/
    text-align: end;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
}
.navbar{
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
    float: right;
    text-align: end;
    font-size: 25px;
    border: 1px red solid;
    color: rgb(243, 0, 0);
    background-color: rgb(78, 77, 75);
    box-shadow: aquamarine;    
}
.header{
    
    background-color:transparent;
    color: wheat;
    font-size: 20px;
    
}


.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: wheat;
   
    text-align: end;
}
.navbar{
    float: right;
    text-align: end;
    font-size: 18px;
    border: 1px red solid;
    color: rgb(243, 0, 0);
    background-color: rgb(78, 77, 75);
    box-shadow: aquamarine;    
}
.navbar a{
    color: rgb(0, 255, 242);
    padding: 2px;
    float: right;
    text-decoration: none;
    cursor: pointer;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
}
form{
    margin:100px;
    position: relative;
    top:0px;
    width: 70%;
    float: inherit;
    box-align: right;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
    
}
input{
    background: transparent;
    color: wheat;
    width: 70%;
    border-color: transparent;
    border-bottom-color: aqua;
    font-size: 1.2em;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
    
}
textarea{
    background: transparent;
    color: wheat;
    width: 60%;
    font-size: 2em;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
}
label{
    visibility: hidden;
}
button {
    
    cursor: pointer; 
    
}