*{ padding: 5px; margin: 10px; cursor: auto;}
.header{
    
    background-color:transparent;
    color: wheat;
    /*border: 1px red solid;*/
    font-size: 30px;
}
.main{
    padding: 30px;
    background-color:transparent;
    text-align: center;
    color: wheat;
    /*border: 1px red solid;*/
}
.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: wheat;
    /*border: 1px red solid;*/
    text-align: end;
}
.navbar{
    text-align: end;
    font-size: 25px;
    /*border: 1px red solid;*/
    color: rgb(243, 0, 0);
}
.navbar a{
    color: rgb(0, 255, 242);
    padding: 2px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
form{
    margin: 10px;
    position: relative;
    left: 45%;
    top:0px;
    width: 55%;
    float: inherit;
    box-align: right;
    text-align: end;
}
input{
    background: transparent;
    color: wheat;
    width: 100%;
    border-color: transparent;
    border-bottom-color: aqua;
    font-size: 20px;
    
}
textarea{
    background: transparent;
    color: wheat;
    width: 100%;
    font-size: 20px;
}
label{
    visibility: hidden;
}
button {
    
    cursor: pointer; 
    
}