*{ padding: 5px; margin: 10px; cursor: auto;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;}

.header{
    
    background-color:transparent;
    color: wheat;
    font-size: 20px;
    
}


.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: wheat;
   
    text-align: end;
}
.navbar{
    float: right;
    text-align: end;
    font-size: 18px;
    border: 1px red solid;
    color: rgb(243, 0, 0);
    background-color: rgb(78, 77, 75);
    box-shadow: aquamarine;    
}
.navbar a{
    color: rgb(0, 255, 242);
    padding: 2px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.main{
    
    padding: 2 em;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
    justify-self: center;
}

.column{
    width: 95%;
    justify-content: center;
}



