*{ padding: 5px; margin: 10px;}
.header{
    padding: 10px;
    background-color:transparent;
    color: wheat;
    border: 1px red solid;
}
.main{
    padding: 70px;
    background-color:transparent;
    color: rgb(0, 0, 0);
    border: 1px red solid;
    wid
}
.upper_blog{
    border: 1px red solid;
    width:97%;

}
.content{
    width: 97%;
    border: 1px red solid;
}
.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: rgb(19, 18, 18);
    border: 1px red solid;
    text-align: end;
}
.navbar{
    text-align: end;
    font-size: 30px;
    /*border: 1px red solid;*/
    color: whitesmoke;
}
.navbar a{
    color: brown;
    padding: 2px;
    float: right;
    
}
.inner{
    width: 65%;
    border: 1px red solid;
    text-align: left;
    color: black;
    margin: 5px;
    background-color:whitesmoke;
    opacity: 0.8;
}
.inner p{
    font-size: 20px;
}
.social{
    display: inline-block;
    margin: 5px;
}
.social button{
   background-color: beige;
   padding-block: 10px;
}