*{ padding: 5px; margin: 10px; cursor: auto;
    list-style-type:square;
    font-family:fantasy;
    font-weight: bold;
cursor:auto;}

.header{
    
    background-color:transparent;
    color: wheat;
    /*border: 1px red solid;*/
    font-size: 20px;
}


.footer{
    padding: 15px;
    background-color:transparent;
    text-align: center;
    color: wheat;
    
    text-align: end;
}
.navbars{
    float: right;
    text-align: end;
    font-size: 18px;
    
    color: rgb(243, 0, 0);
    background-color:transparent;
    box-shadow: aquamarine;    
}
.navbars a{
    color: rgb(0, 255, 242);
    padding: 2px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.main{
    
    padding: 0.3em;
    background-color:transparent;
    color: rgb(255, 255, 255);
   

}
.upper_blog{
    
    width:100%;

}
.content{
    width: 100%;
    
}

.inner{
    
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color:transparent;
    border-radius: 15px;
   
    
}
.more-blogs :hover{
    cursor: pointer;
}
.inner p{
    font-size: 1.2em;
    text-align:justify;

}
.inner blockquote{
    font-size: 1.15em;
    text-align:justify;

}

.fa{
    padding: 0.3em;
    font-size: 16px;
    text-align: center;
    border: 3px solid gainsboro;
    border-radius: 45%;
    color: white;
    
    

}
.social_links{
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;

 
  
}
.fa-facebook{
    background: #3B5998;
}
.fa-twitter{
    background:  #55ACEE;
}
.fa-instagram{
    background: #b25c4a;
}
.fa-github{
    background: black;
}
.fa-linkedin{
    background: #007bb5;
}