{% load static %}
<html>
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            <link rel="stylesheet" href="{% static 'css/contact.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <title>Contact Me</title>
    </head>
    <body style="background-color: black;">
        <div class="header">The-Ambivert
                <span class="navbar">
                    <a href="{% url 'contact'%}">Contact</a>
                    <a href="{% url 'resume'%}">Resume</a>
                    <a href="{% url 'writings'%}">Blogs</a> 
                    <a href="{% url 'blog-home'%}">Home</a> 
                </span>
            </div>
            <div class="main">
                <i>Please Leave a feedback!</i>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
            <!-- <span class="social_links">
                    Follow me on!
                    <a href="https://www.facebook.com/IamBbek" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/I_am_Bbek" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com/in/ImBbek/" class="fa fa-linkedin"></a>
                    <a href="https://github.com/bibekebib" class="fa fa-github"></a>
                    <a href="https://www.instagram.com/im_bbek/" class="fa fa-instagram"></a>
            </span> -->
            <div class="footer">Made with love! By Bibek Chalise.
    </body>
</html>