<!-- <!DOCTYPE html>
{% load static %}
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            <link rel="stylesheet" href="{% static 'css/resume.css' %}">
        <title>My Resume!</title>
    </head>

    <body style="background-color: black;">
        <div class="header">Bibek Chalise
                <span class="navbar">
                    <a href="{% url 'contact'%}">Contact</a>
                    <a href="{% url 'resume'%}">Resume</a>
                    <a href="{% url 'writings'%}">Blogs</a> 
                    <a href="{% url 'blog-home'%}">Home</a> 
                </span>
            </div>
    <div class="main">
        <div class="skill_bar">
                <div class="bar ab">
                <div class="bar inf">   
                    <i>
                        <h3> Bibek Chalise</h3>
                   
                    
                    <h3> WRC, Pokhara</h3>
                   
                    
                    <h3>bibek@ices.edu.np</h3>
                    
                    
                    <h3>9845926945</h3>
                    </i>
                </div>  
                
                <div class="bar l">
                        <h1>Languages</h1>
                        <br>
                        <p>Nepali</p>
                        <div class="box">
                             <div class="skills nepali">Native</div>
                        </div>
                        <p>English</p>
                        <div class="box">
                              <div class="skills english">Fluent</div>
                        </div>
                        <p>Hindi</p>
                        <div class="box">
                            <div class="skills hindi">Fluent</div>
                         </div>
                         
                </div>
            </div>                
            <div class="bar s">
                <h1>Skills</h1>
                <br>
                <p>HTML/HTML5</p>
                <div class="box">
                     <div class="skills html">80%</div>
                </div>
                <p>CSS/CSS3</p>
                <div class="box">
                      <div class="skills css">60%</div>
                </div>
                <p>Python</p>
                <div class="box">
                    <div class="skills python">50%</div>
                 </div>
                <p>Django</p>
                <div class="box">
                        <div class="skills django">50%</div>
                     </div>
                     <p>conent-Writing</p>
                <div class="box">
                     <div class="skills writing">70%</div>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="side">
                work
                
            </div>
            <div class="side">
                    Education
            </div>
        </div>
    </div> 
    </div>

    </div>

    </div>
            <span class="social_links">
                    Follow me on!
                    <a href="https://www.facebook.com/IamBbek" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/I_am_Bbek" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com/in/ImBbek/" class="fa fa-linkedin"></a>
                    <a href="https://github.com/bibekebib" class="fa fa-github"></a>
                    <a href="https://www.instagram.com/im_bbek/" class="fa fa-instagram"></a>
            </span>
     
            <div class="footer">Made with love! By Bibek Chalise.
                </div>
                <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

    </body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/resume.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="header">

        <div class="logo"><a href="{% url "blog-home" %}">Bibek Chalise</a></div>
        <ul>
          <li><a href="{% url 'blog-home'%}">Home</a></li>  
           <li><a href="{% url 'writings'%}">Blogs</a></li> 
           <li><a href="{% url 'resume'%}">Resume</a> </li> 
           <li><a href="{% url 'contact'%}">Contact</a></li> 
        </ul>
      </div>
   <div class="Top">
  <div class="name">
    The <b>Ambivert</b>
  </div>
  <ul>
    <li class="work">  Web Developer</li>
    <li class= "address"><strong>Address</strong> Gaindakot, Nawalpur</li>
    <li class = "phone"><strong>Phone</strong> +977-9845926945</li>
    <li class ="email"><strong>E-mail </strong>work.bibekchalise@gmail.com</a></li>
  </ul>
  <div class="links">
    <ul>
    <!-- <li><a href="http://www.facebook.com/iambbek" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/lamsalsameer/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/samir-lamsal-lucifer/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
    <li> <a href="https://www.facebook.com/IamBbek" class="fa fa-facebook"></a></li>
     <li><a href="https://twitter.com/I_am_Bbek" class="fa fa-twitter"></a></li>   
     <li><a href="https://www.linkedin.com/in/ImBbek/" class="fa fa-linkedin"></a></li>   
        <li><a href="https://github.com/bibekebib" class="fa fa-github"></a></li>
      <li>  <a href="https://www.instagram.com/im_bbek/" class="fa fa-instagram"></a></li>

  </ul>
  </div>

   </div>
<div class="cccc">
   <div class="short">
     <p>To be Computer and IT engineer with exceptional will power and strong commitment
     to collaboration and solutions-oriented problem solving. Dedicated to
     serving individuals with special needs with utmost respect and consideration. Additional
    interest in Space and Science, with medium level programming skills.</p>

   </div>
   <div class="cennn">
   <div class="skills">
    <i class="fa fa-user-secret fa-3x"></i> <h1>Delicacy</h1>
     <ul><li>Web Development and Design</li>
       <li>Programming Skills</li>
       <li>Content Writing</li>
     </ul>

   </div>

   <div class="main">

   <div class="education">
     <i class="fa fa-graduation-cap fa-3x"></i>  <h1>Education</h1>
     <div class="datenuni">
     <div class="date">
    <li>Oct 2018-Current</li>   
     </div>
     <br>
       <h5>Bachelor in Computer Engineering.</h5>
       <h5>IOE, Western Regional Campus</h5>
       <br>
       <div class="date">
        June 2016- May-2016 
      </div>
      <br>
        <h5>High School</h5>
        <h5>Namuna Science College, Gaindakot</h5>

     </div>
   </div>

   </div>
   <div class="software">
    <i class="fa fa-user-circle fa-3x"></i> <h1>Skills</h1>
     <ul>
       <li>Django</li>
       <li>OpenCV</li>
       <li>HTML5 & CSS3</li>
       <li>Content Writing</li>
     </ul>
   </div>
   <div class="language">
  <i class="fa fa-barcode fa-3x"></i><h1>Languages</h1>
     <ul><li>Python</li>
       <li>C</li>
       <li>C++</li>
     </ul>
   </div>
 </div>
 <div class="footer">Made with love! By Bibek Chalise.
   Thank to Samir Lamsal for this design.
  </div>
</div>
</div>
  </body>
</html>