{% load static %}
<html>
    <head>
            <link rel="stylesheet" href="{% static 'css/resume.css' %}">
        <title>My Resume!</title>
    </head>
    <body style="background-image: url('{% static 'images/resume.jpg'%}');background-size:cover;">
        <div class="header">Bibek Chalise
                <span class="navbar">
                    <a href="{% url 'contact'%}">Contact</a>
                    <a href="{% url 'writings'%}">Personal Blogs</a>
                    <a href="{% url 'blog-home'%}">Home</a>
                </span>
            </div>
            <div class="main">i am main</div>
            <div class="footer">Made with love! By Bibek Chalise.
    </body>
</html>